@import "normalize";
@import "fonts";
@import "grid";
@import "big-card";
@import "row-card";
@import "single-post";
@import "bottom-menu";

body {
    padding-bottom: 80px;
}

.loading-blur {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        transition: 0.7s;
    }

    &.loaded {
        &:before {
            opacity: 0;
            visibility: hidden;
        }
    }
}

